@media (min-width: 601px) {
  .headerdiv{
    position:fixed;
  }
}

@media (max-width: 600px) {
  .headerdiv{
    position:absolute;
  }
}

.headerdiv{
  width:100%;
  height:76px;
  background-color:white;
  opacity: .99;
  top:0px;
  left:0px;
  z-index:100000;
  -webkit-box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.2);
  box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.2);
}

#di{
  position: relative;
  top: -20px;
  background-color: white;
}

.droppeditem{
  width:300px;
  padding-bottom: 20px;
  background-color: white;
}

.dropitemsimgdown{
  height:64px;
  transition: 0.5s ease-out;
  transform: rotate(180deg);
}

.dropitemsimgup{
  height:64px;
  transition: .5s ease-out;
  transform: rotate(0deg);
}

.footerdiv{
  height:40px;
  background-color:#d9d9d9;
}

.bg{
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.uggreen{
  border-bottom: 5px solid #ccffcc;
}

.uggrey{
  border-bottom: 5px solid #e6e6e6;
}

.ugred{
  border-bottom: 5px solid #ffcccc;
}

.ugtwitterblue{
  border-bottom: 5px solid #55acee;
}

.active{
  color:darkgrey;
}

.active:hover{
  color:grey;
  cursor: pointer;
}

.inactive{
  color:#70B77B;
  cursor: pointer;
}

.inactive:hover{
  color:#077184;
}

.footer-link{
  color:black;
}

.footer-link:hover{
  color:gray;
  cursor: pointer;
}

.footer-link:visited{
  color:black;
}

.small-page{
  position: relative;
}

.small-page-box{
  -webkit-box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.5);
  box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.5);
}

.link{
  color:#0dc2e2;
  -webkit-touch-callout: all; /* iOS Safari */
  -webkit-user-select: all;   /* Chrome/Safari/Opera */
  -khtml-user-select: all;    /* Konqueror */
  -moz-user-select: all;      /* Firefox */
  -ms-user-select: all;       /* Internet Explorer/Edge */
  user-select: all;
  cursor:pointer;
}

.link:hover{
  color:#077184;
  text-decoration: underline;
}
