.concolor{
  background-color: white;
  padding-bottom: 10px;
}

.headerdiv{
  width:100%;
  height:76px;
  background-color:white;
  opacity: .99;
  position:fixed;
  top:0px;
  left:0px;
  z-index:4;
  box-shadow:0px -5px 10px grey
}

.footerdiv{
  height:40px;
  background-color:#d9d9d9;
}

.bg{
  background-color: white;
  margin-top: 10px;
  padding: 10px;
}

.uggreen{
  border-bottom: 5px solid #ccffcc;
}

.uggrey{
  border-bottom: 5px solid #e6e6e6;
}

.ugred{
  border-bottom: 5px solid #ffcccc;
}

.ugyellow{
  border-bottom: 5px solid #ffffb3;
}

.active{
  color:darkgrey;
}

.active:hover{
  color:grey;
}

.inactive{
  color:#0dc2e2;
}

.inactive:hover{
  color:#077184;
}
